services:
  # A Docker web service for the FastAPI backend
  - type: web
    name: dong-dong-backend
    runtime: docker
    repo: https://github.com/Kyleh2420/dongdong
    plan: free # optional
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.12
      - key: PORT
        value: 10000
    dockerfilePath: ./Dockerfile
    dockerContext: .
    
  # A static site for the frontend
  - type: web
    name: dong-dong-frontend
    repo: https://github.com/Kyleh2420/dongdong
    staticPublishPath: ./frontend
    runtime: static
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
